@charset "UTF-8";
/* ****************************************************************** 

	--common.css--
	
	0. BoxModel change

	1. Common setting
		1-1. Reset styles
		1-2. Font styles
		1-3. General styles
		1-4. Text styles
		1-5. List styles
		1-6. CSS3 common styles

****************************************************************** */
/*==================================================================
	0. BoxModel change
===================================================================*/
/*==================================================================
	1. Common setting
===================================================================*/
/* ------------------------------------------------------------------
	1-1. Reset styles
-------------------------------------------------------------------*/
html {
  overflow-x: hidden;
  background: #FFF; }

body {
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  word-wrap: break-word; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, menu {
  display: block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: none; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ul, ol, menu {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: none;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

legend {
  color: #000; }

a img, map a {
  border: none; }

a:hover, a:active, a:focus {
  outline: 0; }

embed {
  width: 100%; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img, object, embed {
  max-width: 100%;
  height: auto; }

object, embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

/* Font styles
-------------------------------------------------------------------*/
body {
  font: 13px/1.231 Verdana, Arial, sans-serif; }

select, input, button, textarea, button {
  font: 99% arial, sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

pre, code, kbd, samp, tt {
  font-family: monospace;
  line-height: 1; }

/* General styles
-------------------------------------------------------------------*/
table {
  empty-cells: show; }

input {
  line-height: 1; }

form img, input, select {
  vertical-align: middle; }

textarea {
  resize: none; }

select {
  padding: 1px; }

label {
  margin-right: 5px; }

legend {
  display: none; }

input[type="text"], input[type="password"], textarea {
  padding: 3px 4px 0 3px;
  border: 1px solid #999;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  font-size: 13px; }

/* ------------------------------------------------------------------
	1-2. VisualFormattingModel styles
-------------------------------------------------------------------*/
.noDisplay {
  display: none; }

.block {
  display: block !important; }

.inline {
  display: inline !important; }

.inlineBlock {
  display: inline-block !important; }

.static {
  position: static !important; }

.relative {
  position: relative !important; }

.absolute {
  position: absolute !important; }

.fixed {
  position: fixed !important; }

.leftBox {
  float: left; }

.rightBox {
  float: right; }

.nofloat {
  float: none !important; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  display: block;
  clear: both;
  content: ""; }

.clear {
  clear: both !important; }

a.hover:hover,
input.hover:hover {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7; }

/* ------------------------------------------------------------------
	1-3. BoxModel styles
-------------------------------------------------------------------*/
.auto {
  margin-right: auto !important;
  margin-left: auto !important; }

.mt0, .mv0, .ma0 {
  margin-top: 0 !important; }

.mr0, .mh0, .ma0 {
  margin-right: 0 !important; }

.mb0, .mv0, .ma0 {
  margin-bottom: 0 !important; }

.ml0, .mh0, .ma0 {
  margin-left: 0 !important; }

.pt0, .pv0, .pa0 {
  padding-top: 0 !important; }

.pr0, .ph0, .pa0 {
  padding-right: 0 !important; }

.pb0, .pv0, .pa0 {
  padding-bottom: 0 !important; }

.pl0, .ph0, .pa0 {
  padding-left: 0 !important; }

.mt5, .mv5, .ma5 {
  margin-top: 5px !important; }

.mr5, .mh5, .ma5 {
  margin-right: 5px !important; }

.mb5, .mv5, .ma5 {
  margin-bottom: 5px !important; }

.ml5, .mh5, .ma5 {
  margin-left: 5px !important; }

.pt5, .pv5, .pa5 {
  padding-top: 5px !important; }

.pr5, .ph5, .pa5 {
  padding-right: 5px !important; }

.pb5, .pv5, .pa5 {
  padding-bottom: 5px !important; }

.pl5, .ph5, .pa5 {
  padding-left: 5px !important; }

.mt10, .mv10, .ma10 {
  margin-top: 10px !important; }

.mr10, .mh10, .ma10 {
  margin-right: 10px !important; }

.mb10, .mv10, .ma10 {
  margin-bottom: 10px !important; }

.ml10, .mh10, .ma10 {
  margin-left: 10px !important; }

.pt10, .pv10, .pa10 {
  padding-top: 10px !important; }

.pr10, .ph10, .pa10 {
  padding-right: 10px !important; }

.pb10, .pv10, .pa10 {
  padding-bottom: 10px !important; }

.pl10, .ph10, .pa10 {
  padding-left: 10px !important; }

.mt20, .mv20, .ma20 {
  margin-top: 20px !important; }

.mr20, .mh20, .ma20 {
  margin-right: 20px !important; }

.mb20, .mv20, .ma20 {
  margin-bottom: 20px !important; }

.ml20, .mh20, .ma20 {
  margin-left: 20px !important; }

.pt20, .pv20, .pa20 {
  padding-top: 20px !important; }

.pr20, .ph20, .pa20 {
  padding-right: 20px !important; }

.pb20, .pv20, .pa20 {
  padding-bottom: 20px !important; }

.pl20, .ph20, .pa20 {
  padding-left: 20px !important; }

.mt30, .mv30, .ma30 {
  margin-top: 30px !important; }

.mr30, .mh30, .ma30 {
  margin-right: 30px !important; }

.mb30, .mv30, .ma30 {
  margin-bottom: 30px !important; }

.ml30, .mh30, .ma30 {
  margin-left: 30px !important; }

.pt30, .pv30, .pa30 {
  padding-top: 30px !important; }

.pr30, .ph30, .pa30 {
  padding-right: 30px !important; }

.pb30, .pv30, .pa30 {
  padding-bottom: 30px !important; }

.pl30, .ph30, .pa30 {
  padding-left: 30px !important; }

.mt40, .mv40, .ma40 {
  margin-top: 40px !important; }

.mr40, .mh40, .ma40 {
  margin-right: 40px !important; }

.mb40, .mv40, .ma40 {
  margin-bottom: 40px !important; }

.ml40, .mh40, .ma40 {
  margin-left: 40px !important; }

.pt40, .pv40, .pa40 {
  padding-top: 40px !important; }

.pr40, .ph40, .pa40 {
  padding-right: 40px !important; }

.pb40, .pv40, .pa40 {
  padding-bottom: 40px !important; }

.pl40, .ph40, .pa40 {
  padding-left: 40px !important; }

.bt0, .ba0 {
  border-top: none !important; }

.br0, .ba0 {
  border-right: none !important; }

.bb0, .ba0 {
  border-bottom: none !important; }

.bl0, .ba0 {
  border-left: none !important; }

/* ------------------------------------------------------------------
	1-4. Text styles
-------------------------------------------------------------------*/
strong, .bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.note {
  margin-left: 1.0em;
  text-indent: -1.0em; }

.f10 {
  font-size: 77%; }

.f11 {
  font-size: 85%; }

.f12 {
  font-size: 93%; }

.f14 {
  font-size: 108%; }

.f15 {
  font-size: 116%; }

.f16 {
  font-size: 123.1%; }

.f17 {
  font-size: 131%; }

.f18 {
  font-size: 138.5%; }

.f19 {
  font-size: 146.5%; }

.f20 {
  font-size: 153.9%; }

.f21 {
  font-size: 161.6%; }

.f22 {
  font-size: 167%; }

.f23 {
  font-size: 174%; }

.f24 {
  font-size: 182%; }

.f25 {
  font-size: 189%; }

.f26 {
  font-size: 197%; }

.red {
  color: #C00; }

.white {
  color: #FFF; }

.grayC {
  color: #CCC; }

.gray9 {
  color: #999; }

.gray6 {
  color: #666; }

.gray3 {
  color: #333; }

.black {
  color: #000; }

.middle {
  vertical-align: middle !important; }

.center {
  text-align: center !important; }

.left {
  text-align: left !important; }

.right {
  text-align: right !important; }

.underline {
  text-decoration: underline !important; }

/* ------------------------------------------------------------------
	1-5. List styles
-------------------------------------------------------------------*/
.disc {
  padding-left: 2em;
  list-style: disc; }

.circle {
  padding-left: 2em;
  list-style: circle; }

.decimal {
  padding-left: 2.4em;
  list-style: decimal; }

/* InlineList styles
-------------------------------------------------------------------*/
.inlineList dt,
.inlineList dd,
.inlineList li {
  display: inline;
  padding-right: 5px; }

.inlineBlockList dt,
.inlineBlockList dd,
.inlineBlockList li {
  display: inline-block;
  padding-right: 5px; }

/* DlLine styles
-------------------------------------------------------------------*/
.dlLine {
  zoom: 1; }

.dlLine dt {
  float: left;
  margin-right: 10px;
  padding: 4px 0; }

.dlLine dd {
  padding: 4px 0;
  border-bottom: 1px #CCC solid; }

.dlLine dd:after {
  display: block;
  clear: both;
  content: ""; }

/* ------------------------------------------------------------------
	1-6. CSS3 common styles
-------------------------------------------------------------------*/
.boxShadow {
  -webkit-box-shadow: 0 0 5px #DDD;
  box-shadow: 0 0 5px #DDD; }

.textShadowW {
  text-shadow: 0 1px 0 #E7E7E7; }

.textShadowB {
  text-shadow: 0 1px 0 #111; }

.radius5 {
  border-radius: 5px; }

.radius10 {
  border-radius: 10px; }

/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/**
 * Basic styles for links
 */
a {
  color: #36C;
  text-decoration: none; }
  a:hover {
    color: #36C;
    text-decoration: underline; }

body {
  color: #333;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.231;
  font-family: 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  /* font: normal 13px / 1.231 $text-font-stack; */ }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table; }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; }
  .row.row-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .row.row-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.row--04 {
  font-size: 50px; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@media only screen and (max-width: 768px) {
  .col-md-1 {
    width: 33.33333%; }
  .col-md-2 {
    width: 66.66667%; }
  .col-md-3 {
    width: 100%; } }

@media only screen and (max-width: 480px) {
  .col-xs-1 {
    width: 50%; }
  .col-xs-2 {
    width: 100%; } }

.row-demo div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: purple;
  border: 1px solid #ccc;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.inner, #contents {
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 20px; }

#contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 736px) {
    #contents {
      padding: 0 15px; } }

#main {
  width: calc(100% - 300px);
  padding: 0; }

#side {
  width: 300px; }


/*# sourceMappingURL=style.css.map*/