@charset "UTF-8";
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !default;

/// Text color
/// @type Color
$text-color: #333 !default;

/// Link color
/// @type Color
$link-color: #36C !default;

/// All other color
/// @type Color
$color-primary: #178CD6 !default;
$color-secondary: lighten($color-primary, 10%) !default;

$color-success: green !default;
$color-warning: yellow !default;
$color-error: #e5004f !default;
$color-black: #000 !default;
$color-white: #FFF !default;

// Hover
$color-primary-hover: lighten($color-primary, 30%) !default;
$color-sucess-hover: lighten($color-success, 10%) !default;

$color-primary: $color-primary !default;
$color2: $color-secondary !default;
$color3: #2C546D !default;

// Form
$color-form-default-bg: #FFF !default;
$color-form-require-bg: #FEFDEC !default;
$color-form-error-bg: #FDE7EF !default;
$color-select-border: #A0A0A0 !default;
$color-checkbox-border: #A0A0A0 !default;
$color-form-badge-bg: #f5f5f5 !default;
$switch-size: 24px !default;
$switch-gutter: 10px !default;

/// Color
/// @type Color
$light-grey: #EDEDED !default;
$mid-grey: #999999 !default;
$dark-grey: #444444 !default;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


// Section spacing
$section-spacing: 30px;
$section-spacing-sp: $section-spacing / 2;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$grid-breakpoints: (
  xs: 320px,
  sm: 576px,
  sp: 736px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/img/' !default;

$transition-duration: .3s !default;